version: "3.9"
services:
  db:
    container_name: whale-db
    image: postgres
    restart: always
    expose:
      - "5432"
    ports:
      - "5431:5432"
    env_file:
      - ./.env.local

  db_migration:
    container_name: whale-db-migrations
    depends_on:
      - db
    build:
      context: . 
      dockerfile: ./Dockerfile.migrate
    env_file:
      - ./.env.local
      
  reporter:
    container_name: whale-reporter
    build:
      context: . 
      dockerfile: ./Dockerfile.web
    depends_on:
      - db
    env_file:
      - ./.env.local
    ports:
      - "1337:1337"
    links:
      - db

  reader:
    container_name: whale-reader
    depends_on:
      - db
      - db_migration
    build:
      context: . 
      dockerfile: ./Dockerfile.worker
    env_file:
      - ./.env.local
    links:
      - db